/* 
─────────────────────────────────────────────────────────────────────────────────────────────
─██████████████─██████─────────██████████████─██████████████───██████████████─██████─────────
─██░░░░░░░░░░██─██░░██─────────██░░░░░░░░░░██─██░░░░░░░░░░██───██░░░░░░░░░░██─██░░██─────────
─██░░██████████─██░░██─────────██░░██████░░██─██░░██████░░██───██░░██████░░██─██░░██─────────
─██░░██─────────██░░██─────────██░░██──██░░██─██░░██──██░░██───██░░██──██░░██─██░░██─────────
─██░░██─────────██░░██─────────██░░██──██░░██─██░░██████░░████─██░░██████░░██─██░░██─────────
─██░░██──██████─██░░██─────────██░░██──██░░██─██░░░░░░░░░░░░██─██░░░░░░░░░░██─██░░██─────────
─██░░██──██░░██─██░░██─────────██░░██──██░░██─██░░████████░░██─██░░██████░░██─██░░██─────────
─██░░██──██░░██─██░░██─────────██░░██──██░░██─██░░██────██░░██─██░░██──██░░██─██░░██─────────
─██░░██████░░██─██░░██████████─██░░██████░░██─██░░████████░░██─██░░██──██░░██─██░░██████████─
─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░░░██─██░░██──██░░██─██░░░░░░░░░░██─
─██████████████─██████████████─██████████████─████████████████─██████──██████─██████████████─
───────────────────────────────────────────────────────────────────────────────────────────── */
:root,
::backdrop {
  --sans-font: Avenir, Roboto, Arial, Helvetica, sans-serif; /* Used for everything other than code */
  --mono-font: Consolas, Menlo, Monaco, monospace; /* Used for code */
  --standard-border-radius: 5px;
  --bg: #212121;
  --accent-bg: #2b2b2b;
  --text: #dcdcdc;
  --text-light: #ababab;
  --border: #898ea4;
  --marked: #ffdd33;
  --accent: #ffb300;
  --accent-text: var(--bg);
  --code: #f06292;
  --preformatted: #ccc;
  --black: #111;
}

/* Reset box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  background-color: var(--bg);
  font-size: 1.15rem;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr min(65rem, 90%) 1fr;
  margin: 0;
}

/*everything is in the middle column*/
body > * {
  grid-column: 2;
}

main-footer {
  margin-top: 1rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid var(--border);
}

/* Add a little padding to ensure spacing is correct between content and header > nav */
main {
  padding-top: 1.5rem;
}

/* Make the header bg full width, but the content inline with body */
main-header {
  background-color: var(--accent-bg);
  border-bottom: 1px solid var(--border);
  text-align: center;
  padding: 0 0.5rem 2rem 0.5rem;
  grid-column: 1 / -1;
}
/*
─────────────────────────────────────────────────────────────────
─██████████████─██████████████─████████──████████─██████████████─
─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░██──██░░░░██─██░░░░░░░░░░██─
─██████░░██████─██░░██████████─████░░██──██░░████─██████░░██████─
─────██░░██─────██░░██───────────██░░░░██░░░░██───────██░░██─────
─────██░░██─────██░░██████████───████░░░░░░████───────██░░██─────
─────██░░██─────██░░░░░░░░░░██─────██░░░░░░██─────────██░░██─────
─────██░░██─────██░░██████████───████░░░░░░████───────██░░██─────
─────██░░██─────██░░██───────────██░░░░██░░░░██───────██░░██─────
─────██░░██─────██░░██████████─████░░██──██░░████─────██░░██─────
─────██░░██─────██░░░░░░░░░░██─██░░░░██──██░░░░██─────██░░██─────
─────██████─────██████████████─████████──████████─────██████─────
─────────────────────────────────────────────────────────────────*/
/* Use mono font for code elements */
code,
pre,
kbd {
  font-family: var(--mono-font);
  color: var(--code);
}

/* Format headers text*/
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
  margin-top: 3rem;
}

h3 {
  font-size: 2rem;
  margin-top: 3rem;
}

h4 {
  font-size: 1.44rem;
}

p {
  margin: 1.5rem 0;
}

/* Prevent long strings from overflowing container */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Fix line height when title wraps */
h1, h2, h3 {
  line-height: 1.1;
}

/* Reduce header size on mobile */
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}

textarea {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--text);
  background-color: var(--black);
  border-radius: var(--standard-border-radius);
  border: 1px solid var(--border);
  width: 100%;
  max-width: 100%;
  min-height: 100px;
}

/* 
──────────────────────────────────────────────────────
─██████──────────██████─██████████████─██████──██████─
─██░░██████████──██░░██─██░░░░░░░░░░██─██░░██──██░░██─
─██░░░░░░░░░░██──██░░██─██░░██████░░██─██░░██──██░░██─
─██░░██████░░██──██░░██─██░░██──██░░██─██░░██──██░░██─
─██░░██──██░░██──██░░██─██░░██████░░██─██░░██──██░░██─
─██░░██──██░░██──██░░██─██░░░░░░░░░░██─██░░██──██░░██─
─██░░██──██░░██──██░░██─██░░██████░░██─██░░██──██░░██─
─██░░██──██░░██████░░██─██░░██──██░░██─██░░░░██░░░░██─
─██░░██──██░░░░░░░░░░██─██░░██──██░░██─████░░░░░░████─
─██░░██──██████████░░██─██░░██──██░░██───████░░████───
─██████──────────██████─██████──██████─────██████─────
────────────────────────────────────────────────────── */

header > *:only-child {
  margin-block-start: 2rem;
}

header h1 {
  max-width: 1200px;
  margin: 1rem auto;
}

header p {
  max-width: 40rem;
  margin: 1rem auto;
}

header > nav {
  font-size: 1rem;
  line-height: 2;
  padding: 1rem 0 0 0;
}

/* Use flexbox to allow items to wrap, as needed */
header > nav ul,
header > nav ol {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* List items are inline elements, make them behave more like blocks */
header > nav ul li,
header > nav ol li {
  display: inline-block;
}

header > nav a,
header > nav a:visited {
  margin: 0 0.5rem 1rem 0.5rem;
  border: 1px solid var(--border);
  border-radius: var(--standard-border-radius);
  color: var(--text);
  display: inline-block;
  padding: 0.1rem 1rem;
  text-decoration: none;
}

header > nav a:hover,
header > nav a.current,
header > nav a[aria-current="page"] {
  border-color: var(--accent);
  color: var(--accent);
  cursor: pointer;
}

/* Reduce nav side on mobile */
@media only screen and (max-width: 720px) {
  header > nav a {
    border: none;
    padding: 0;
    text-decoration: underline;
    line-height: 1;
  }
}

.navp {
  text-align: right;
}

/* Format section */
section h2:first-child {
  margin-top: 1rem;
}

section {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding: 2rem 1rem;
  margin: 3rem 0;
}

/* Don't double separators when chaining sections */
section + section,
section:first-child {
  border-top: 0;
  padding-top: 0;
}

section:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

/*
───────────────────────────────────────────────────────────────────────────────────────────────
─██████████████─██████████████─██████──██████─██████████████─████████████████───██████████████─
─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░██──██░░██─██░░░░░░░░░░██─██░░░░░░░░░░░░██───██░░░░░░░░░░██─
─██░░██████░░██─██████░░██████─██░░██──██░░██─██░░██████████─██░░████████░░██───██░░██████████─
─██░░██──██░░██─────██░░██─────██░░██──██░░██─██░░██─────────██░░██────██░░██───██░░██─────────
─██░░██──██░░██─────██░░██─────██░░██████░░██─██░░██████████─██░░████████░░██───██░░██████████─
─██░░██──██░░██─────██░░██─────██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░░░██───██░░░░░░░░░░██─
─██░░██──██░░██─────██░░██─────██░░██████░░██─██░░██████████─██░░██████░░████───██████████░░██─
─██░░██──██░░██─────██░░██─────██░░██──██░░██─██░░██─────────██░░██──██░░██─────────────██░░██─
─██░░██████░░██─────██░░██─────██░░██──██░░██─██░░██████████─██░░██──██░░██████─██████████░░██─
─██░░░░░░░░░░██─────██░░██─────██░░██──██░░██─██░░░░░░░░░░██─██░░██──██░░░░░░██─██░░░░░░░░░░██─
─██████████████─────██████─────██████──██████─██████████████─██████──██████████─██████████████─
───────────────────────────────────────────────────────────────────────────────────────────────*/
/* Consolidate box styling */
details,
pre {
  background-color: var(--accent-bg);
  border: 1px solid var(--marked);
  border-radius: var(--standard-border-radius);
  margin-bottom: 1rem;
}

/* Format accordion */
details {
  padding: 0.7rem 1rem;
}

summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.7rem 1rem;
  margin: -0.7rem -1rem;
  word-break: break-all;
}

details[open] > summary + * {
  margin-top: 0;
}

details[open] > summary {
  margin-bottom: 0.5rem;
}

details[open] > :last-child {
  margin-bottom: 0;
}

/* Set the cursor to '?' on an abbreviation */
abbr[title] {
  cursor: help;
}

.post {
  border: 1px solid var(--border);
  padding: 1rem;
  border-radius: var(--standard-border-radius);
  margin-bottom: 1rem;
}

img {
  margin: 20px auto;
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: var(--standard-border-radius);
}

.smallimg {
  max-width: 60%;
}

@media only screen and (min-width: 1050px) {
  img {
    max-width: 900px;
  }
}

@media only screen and (max-width: 720px) {
  .smallimg {
    max-width: 100%;
  }
}

kbd {
  color: var(--preformatted);
  border: 1px solid var(--preformatted);
  border-bottom: 3px solid var(--preformatted);
  border-radius: var(--standard-border-radius);
  padding: 0.1rem 0.4rem;
}

pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
  color: var(--preformatted);
  white-space: pre-wrap;
}

/* Fix embedded code within pre */
pre code {
  color: var(--preformatted);
  background: none;
  margin: 0;
  padding: 0;
}

/* Classes for console */
.console {
  background: var(--accent-bg);
  border: 2px solid var(--border);
  border-radius: var(--standard-border-radius);
  padding: 0.5rem 1.5rem;
  margin: 2rem 0;
}

button {
  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: var(--accent-text);
  padding: 0.5rem 0.9rem;
  text-decoration: none;
  line-height: normal;
}

button:enabled:hover {
  filter: brightness(1.4);
  cursor: pointer;
}

button {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: var(--standard-border-radius);
  box-shadow: none;
  max-width: 100%;
  display: inline-block;
}

a,
a:visited {
  color: var(--accent);
}

a:hover {
  text-decoration: none;
}

.custom-cursor {
  cursor: url("../images/customCursor.png"), auto;
}
