<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction to Asynchronous Javascript</title>
    <script src="js/header_footer_template.js"></script>
    <head-css></head-css>
    <script src="js/prism.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/scriptPage1.js" defer></script>
  </head>

  <body>
    <main-header></main-header>
    <div id="appPage1">
      <section>
        <h2>Why Do We Need Asynchronous Programming</h2>
        <p>
          Up until now, you have probably written some JavaScript code, press
          <kbd>Run</kbd> and BOOM : not a second later, some lines (or errors) are printed
          out onto the console. Great ! <br />
          <br />
          But what if you want to do something that takes a longer time to finish, for
          example downloading a cat image for your application of Cute Cats Collection ?
        </p>
        <img v-show="showCatImage" src="images/cat.webp" alt="cute cat" />
        <button @click="fetchCatImageSync">Fetch Cat Image Synchronously</button>
        <p>
          You'll find that while our <code>fetchCatImage()</code> function is running, our
          program is completely unresponsive: you can't click anything, type anything, or
          do anything else. The reason for this is that this JavaScript program is
          single-threaded, meaning it can only do one thing at a time. So if it is waiting
          for our long-running synchronous function to return, it can't do anything else.
          <br />
          What we need is a way to run our long-running function and still be responsive
          to other events by running that function on a different thread, then notify us
          with the result of the operation when it completes. And that's precisely what
          asynchronous functions do.
        </p>

        <div
          v-for="(accordion, index) in accordions"
          :key="index"
          @mouseover="toggleCursor"
          @mouseleave="toggleCursor"
          @click="toggleAccordion(index)"
          :class="{
            post: true,
            'custom-cursor': shouldApplyCursor
          }">
          <h3
            @click="toggleAccordion(index)"
            @mouseover="toggleCursor"
            @mouseleave="toggleCursor">
            <span v-if="accordion.isOpen">▾</span>
            <span v-else>▸</span>
            <span v-html="accordion.title"></span>
          </h3>
          <p v-show="accordion.isOpen" v-html="accordion.content">
            {{ accordion.content }}
          </p>
        </div>
      </section>
      <section>
        <p class="navp">
          Continue to
          <a href="page2.html">Page 2: Promises and Async/Await</a>
        </p>
      </section>
    </div>
    <main-footer></main-footer>
  </body>
</html>
