<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asynchronous JavaScript and Fetch API Tutorial - Introduction</title>
    <link rel="stylesheet" href="simple.css" />
    <script src="header_footer_template.js"></script>
  </head>

  <body>
    <main-header></main-header>
    <div id="appPage1">
      <div id="async-js-intro">
        <h1>What and Why Do We Need Asynchronous Stuff</h1>
        <p>
          Up until now, you have probably written some JavaScript code, press
          <kbd>Run</kbd> and BOOM : not a second later, some lines (or errors) are printed out onto the console.
          Great! But what if you want to do something that takes a longer time to finish, for example
          downloading a cat image for your application of Cute Cats Collection ? If you just fetch your image
          as normal, the users of your app won't be able to interact with your app until the image is
          finished downloading. This is where asynchronous programming comes in.

        </p>
        <div
          v-for="(accordion, index) in accordionsNoCode"
          :key="index"
          @mouseover="toggleCursor"
          @mouseleave="toggleCursor"
          :class="{'custom-cursor': shouldApplyCursor}"
          style="
            border: 1px solid var(--marked);
            margin-top: 40px;
            border-radius: var(--standard-border-radius);
            padding: 10px;
          "
        >
          <h3 @click="toggleAccordion(index)">
            {{ accordion.title }}
            <span class="arrow">▼</span>
          </h3>
          <p v-if="accordion.isOpen" v-html="accordion.content">
            {{ accordion.content }}
          </p>
        </div>

        <div
          v-for="(accordion, index) in accordionsWithCode"
          :key="index"
          @mouseover="toggleCursor"
          @mouseleave="toggleCursor"
          :class="{'custom-cursor': shouldApplyCursor}"
          style="
            border: 1px solid var(--marked);
            margin-top: 40px;
            border-radius: var(--standard-border-radius);
            padding: 10px;
          "
        >
          <h3 @click="toggleAccordionWithCode(index)">
            <span v-html="accordion.title"></span>
            <span class="arrow">▼</span>
          </h3>
          <p v-if="accordion.isOpen" v-html="accordion.content">
            {{ accordion.content }}
          </p>
        </div>
      </div>
      <div>
        <p>
          Continue to
          <a href="page2.html"
            >Page 2: Understanding Promises and Async/Await</a
          >
        </p>
      </div>
    </div>

    <main-footer></main-footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="appPage1.js"></script>
  </body>
</html>
