header {
    display: flex;
    align-items: center;
    background-color: lightblue;
    padding: 2.5rem;
}

@media (max-width: 960px) {
    header {
        flex-direction: column;
    }
}

@media (max-width: 580px) {
    header {
        align-items: flex-start;
    }
}


#navbar {
    flex-grow: 1;
}

#navbar ul {
    display: flex;
    align-items: center;
}

@media (max-width: 580px) {
    #navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }
}

#navbar a {
    text-decoration: none;
    color: #1B1919;
    font-size: 1.6rem;
    margin: 0 4rem;
}

@media (max-width: 1385px) {
    #navbar a {
        font-size: 1.2rem;
        margin: 0 2rem;
    }
}

@media (max-width: 580px) {
    #navbar a {
        margin: 0;
    }
}


footer {
    background-color: lightblue;
    color: black;
    padding: 4rem;
}